<!DOCTYPE html>
<html
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div id="navbar" th:fragment="navbar" th:if="${showNavbar}">
            <nav class="navbar navbar-inverse navbar-fixed-top navbar-height">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a class="navbar-brand" th:href="@{/}" style="display: flex; align-items: center; padding-top: 10px; padding-bottom: 10px;">
                            <img th:src="@{/assets/logo.jpeg}" style="height: 45px; margin-right: 15px;" alt="Logo MG">
                            <span th:text="${title}"></span>
                        </a>
                        
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <div class="navbar-form navbar-right navbar-buttons">
                            <a class="btn btn-primary btn-sm" role="button" id="switchInstancesModal-btn"
                               th:if="${page == 'app' && appMaxInstances.get(appName) != 1}">Cambiar la instancia</a>

                            <a class="btn btn-primary btn-sm app-details-current-btn"
                               role="button"
                               th:if="${page == 'app' && appMaxInstances.get(appName) == 1}">Detalles de la aplicacion</a>

                            <a class="btn btn-primary btn-sm app-restart-btn"
                               role="button"
                               th:if="${page == 'app' && appMaxInstances.get(appName) == 1}">Reiniciar aplicacion</a>

                            <a class="btn btn-primary btn-sm app-stop-current-btn"
                               role="button"
                               th:if="${page == 'app' && appMaxInstances.get(appName) == 1}">Parar aplicacion</a>

                            <a class="btn btn-primary btn-sm app-pause-current-btn"
                               role="button"
                               th:if="${page == 'app' && pauseSupported && appMaxInstances.get(appName) == 1}">Pausar aplicacion</a>

                            <a class="btn btn-primary btn-sm" id="myAppsModal-btn" role="button"
                               th:if="${page == 'index' && myAppsMode == 'Modal'}">Mis aplicaciones</a>

                            <a class="btn btn-primary btn-sm report-issue-btn" role="button" th:if="${isSupportEnabled}">Reportar un error</a>
                            <a class="btn btn-primary btn-sm" role="button" th:href="@{/admin}" th:if="${isAdmin}">Administrador</a>
                            <a class="btn btn-primary btn-sm" role="button" th:href="@{/admin}" th:if="${isAdmin}">Estadisticas</a>
                            <a class="btn btn-primary btn-sm" role="button" th:href="@{${logoutUrl}}" th:if="${isLoggedIn}">Cerrar sesión</a>
                        </div>
                        <div class="navbar-right" sec:authorize="isAuthenticated()">
                            <div class="navbar-text">
                                <span class="glyphicon glyphicon-user"></span>
                                <span sec:authentication="name"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <script>
                // fix padding of body as soon as navbar is rendered
                let navbarHeight = $('.navbar-height').height();
                if (navbarHeight !== undefined) {
                    $('body').css('padding-top', navbarHeight + 'px');
                }
            </script>
        </div>
    </body>
</html>